#Ignore these files and folders as they contain large data,
# intermediate results, or outputs that are not relevant for version control.

/data
/generatePlots/plots
preprocessing/output_pickles/
*.csv